@charset "UTF-8";
*{
		margin: 0;
		padding: 0;
	}
	#container{
		width: 1000px;
		height: 800px;
		margin: auto;
		border: 1px solid red; 
		background: darkgray;
	}
	#bannerside{
		width: 450px;
		height: 100px;
		float:left;
	}
	img{
		width:450px;
		height:100px;
	}
	#loginside{
		width: 450px;
		height: 100px;
		float:right;
		background: #F4EEDD;
		text-align: center;
	}
	#center{
		width : 100%;
		height : 700px;
	}
	#leftside{
		width: 500px;
		height: 700px;
		float: left;
	}
	#rightside{
		width: 500px;
		height: 700px;
		float: right;
	}
	#notice{
		margin-top:50px;
		margin-left:50px;
		width: 400px;
		height: 250px;
		background: #F4EEDD;
	}
	#classnote{
		margin-top:50px;
		margin-left:50px;
		width: 400px;
		height: 250px;
		background: #F4EEDD;
	}
	#todayclass{
		margin-top:50px;
		margin-left:50px;
		width: 400px;
		height: 250px;
		background: #F4EEDD;
	}
	#birthday{
		margin-top:50px;
		margin-left:50px;
		width: 400px;
		height: 250px;
		background: #F4EEDD;
	}
	#center{
		float : center;
		height:650px;
		width : 1000px;
	}
	ul{
		list-style-type: none;
	}